@model Department
@{
    // Layout = null;
            // ViewBag.Title = "showcourse";
}

<div class="container mt-5">
    <h3 class="alert alert-danger">
        @Model.DeptName: @Model.Capacity
    </h3>
    <ul class="list-group">
        @foreach (var item in Model.Course)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>@item.CrsName</span>
                <span>
                    <a asp-action="adddegree" asp-controller="department" asp-route-crsid="@item.CrsId" asp-route-deptid="@Model.DeptId" class="btn btn-primary btn-sm mx-1">Add Degree</a>
                    <a asp-action="adddintake" asp-controller="department" asp-route-crsid="@item.CrsId" asp-route-deptid="@Model.DeptId" class="btn btn-secondary btn-sm mx-1">Add Intake</a>
                </span>
            </li>
        }
    </ul>
</div>
